html {
    overflow-y: scroll;
}

:root {
    --background-color: #FBEBFF;
    --primary-color: #7b52f4;
    --secondary-color: #c4b2fa;
    --secondary-color-lighter: rgba(196, 178, 250, 0.5);
    --accent-orange: #d85946;
    --accent-purple: #4d24c9; 
    --font-default: #251d29;
    --font-inverse: #fff;
    --border-input: #DFDFE2;

    --water-dark: #73a2ad;
    --water-light: #97BCC5;
    --water-lighter: #b4cecd;
    --mtn-fill0: #e8c6c1;
    --mtn-fill30: #e0d5b6;
    --mtn-fill70: #d4cce1;
    --mtn-fill100: #c8d8dc;
    --mtn-flower1: #b3e4dc;
    --mtn-flower2: #f3a8a8;
    --mtn-flower3: #cd7fd4;
    --mtn-flower4: #eed064;

    --font-size-default: 20px;
    --font-weight-default: 400;
    --font-weight-semibold: 500;
    --font-weight-bold: 600;
    --padding-default: 1em;
    --padding-thin: 0.5em;
    --padding-thick: 2em;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: "Quicksand", sans-serif;
    color: var(--font-default);
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-default);
    line-height: 1.6;
    margin: 1em auto;
}

main {
    margin: var(--padding-thick);
}

section {
    padding: 0 1em;
    margin: 2em auto;
}

h1, h2, h3, h4 {
    color: var(--font-default);
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: var(--font-weight-default);
    text-align: left;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: var(--font-size-default);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:visited {
    color: var(--accent-purple);
    font-weight: var(--font-weight-semibold);
}

a:hover, 
a:focus {
    color: var(--accent-orange);
    font-weight: var(--font-weight-semibold);
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-default);
    border-bottom: 5px solid var(--accent-orange);
    font-family: "Montserrat Alternates", sans-serif;
    min-height: 90px;
}

.logo {
    display: flex;
    width: 70px;
    height: auto;
    flex-shrink: 0;
}

.logo-heading {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-shrink: 0;
}

.heading {
    flex-shrink: 0;
    font-size: 2.2rem;
    margin: 0;
    line-height: 1;
}

.navigation-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.navigation-list__item {
    text-decoration: none;
    color: var(--font-default);
    padding: 5px 10px;
}

.navigation a {
    color: var(--font-default);
    padding: 0 0.5em;
    text-align: left;
}

.navigation-list__item--active {
    font-weight: var(--font-weight-bold);
    text-decoration: none;
}

.page-footer {
    display: flex;   
    flex-direction: column;
    text-align: center;
    margin-top: var(--padding-thick);
    font-weight: var(--font-weight-semibold);
}

button,
.button {
    border: none;
    display: block;
    font-family: inherit;
    font-size: var(--font-size-default);
    background-color: var(--primary-color);
    color: var(--font-inverse);
    text-decoration: none;
    width: 14em;
    padding: var(--padding-thin);
    margin: 2em 6px 0;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease;
    text-align: center;
}

.button1 {
    background-color: var(--font-inverse);
    color: var(--primary-color);
    width: 120px;
    border: 2px solid var(--primary-color);
}

button:hover,
.button:hover,
button:focus,
.button:focus {
    background-color: var(--accent-orange);
    color: var(--font-inverse);
    border-color: var(--accent-orange);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 1100px;
    margin: 0 auto; 
    width: 100%;
}

.grid__item {
    background-color: var(--secondary-color-lighter);
    padding: var(--padding-thick);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    max-width: 100%;
    height: auto;
}

.profile-container, .about-container {
    max-width: 750px;
    margin: 2em auto;
    padding: var(--padding-default);
}

.profile-container img, .about-container img {
    float: left;
    width: 250px;
    margin-right: 1.5em;
    border-radius: 100%;
}

input, 
textarea {
    width: 100%;
    max-width: 320px;
    font-family: inherit;
    margin-bottom: 20px;
    padding: var(--padding-thin);
    border: 2px solid var(--border-input);
    border-radius: 12px;
    outline: none;
    transition: border 0.2s;
}

input:focus,  
textarea:focus {
    border-color: var(--primary-color);
}

@keyframes mtn { 
    0% {
        fill: var(--mtn-fill0);
    }
    30% {
        fill: var(--mtn-fill30);
    }
    70% {
        fill: var(--mtn-fill70);
    }
    100% {
        fill: var(--mtn-fill100);
    }
}

.mtn {
    animation: 6s mtn infinite alternate linear;
}

@keyframes water-back {
    0% {
        fill: var(--water-dark);
    }
    50% {
        fill: var(--water-light);
    }
    100% {
        fill: var(--water-lighter);
    }
}

.water-back {
    animation: 4s water-back infinite alternate linear;
}

@keyframes water-dark {
    0% {
        fill: var(--water-lighter);
    }
    50% {
        fill: var(--water-dark);
    }
    100% {
        fill: var(--water-dark);
    }
}

.water-dark {
  animation: 4s water-dark infinite alternate linear;
}

@keyframes flower {
    from {
        fill: #b3e4dc;   
    }
    to {
        fill: #f3a8a8;
    }
}

.flower {
  animation: 5s flower infinite alternate linear;
}

@keyframes flower-dk {
    from {
        fill: #eed064;    
    }
    to {
        fill: #cd7fd4;    
    }
}

.flower-dk {
  animation: 3s flower-dk infinite alternate linear;
}

@media all and (max-width: 750px) {
    .page-header {
        flex-direction: column;
        align-items: flex-start;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    
    h1 {
        font-size: 22px;
    }
}

@media all and (max-width: 500px) {
    .logo img {
        max-width: 80%;
    }
    .navigation a {
        font-size: 0.9em;
    }
}